include mixins.jade

doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
    meta(name"viewport", content="width=device-width")
    link(rel="stylesheet", href="../bower_components/ink/css/ink.css")
    link(rel="stylesheet", href="../stylesheets/style.css")
    block extensible
  body
    table.body
      tr
        td.center(align="center", valign="top").global-wrapper
          center
            block body
        