html, body {
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  color: #2c3e50; }

header {
  width: 75%;
  margin: 100px auto;
  padding: 0px 30px;
  border-left: 1px solid #cfd9db; }

h1, h2, h3, h4, h5 {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  line-height: 2;
  font-weight: 700; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 39.55501px; }

h3 {
  font-size: 24.44685px; }

h4 {
  font-size: 15.1093px; }

h5 {
  font-size: 9.33826px; }

p {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 300; }

section {
  margin: 50px auto; }

.content-wrapper {
  width: 580px;
  margin: 0 180px; }

.title {
  display: inline-block;
  font-size: 64px;
  font-weight: 100;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-top: -24px;
  color: #2980b9; }

.subtitle {
  font-size: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 100; }
  .subtitle a {
    color: #2980b9;
    font-weight: 300; }
    .subtitle a:hover, .subtitle a:active {
      text-decoration: underline; }

.note, .quote {
  width: 100%;
  background-color: #b1c2c6;
  color: #2c3e50;
  padding: 10px; }
  .note a, .note a:visited, .quote a, .quote a:visited {
    color: white !important;
    text-decoration: underline; }
    .note a:hover, .note a:active, .note a:visited, .note a:visited:hover, .note a:visited:active, .note a:visited:visited, .quote a:hover, .quote a:active, .quote a:visited, .quote a:visited:hover, .quote a:visited:active, .quote a:visited:visited {
      color: white;
      text-decoration: underline; }

.quote {
  background-color: #e3e9eb;
  margin: 20px 0; }
  .quote::before {
    content: '“';
    position: relative;
    font-size: 108px;
    top: 40px;
    opacity: 0.3; }

.example {
  width: 100%; }

.jink-code, .ink-code {
  position: relative;
  width: 100%;
  margin-right: 20px; }
  .jink-code:before, .ink-code:before {
    content: 'JINK';
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 10px;
    padding: 5px;
    background-color: #dae2e4;
    border-radius: 4px; }

.ink-code:before {
  content: 'INK'; }

.example-demo {
  margin: 0;
  padding: 20px 0; }
  .example-demo .container {
    margin: 0; }

td.bordered {
  border: 1px solid #b1c2c6; }
